
// Range slider

$grs-wrapper-padding: 10px !default;

$grs-thumb-size: 24px !default;
$grs-thumb-color: #efefef !default;
$grs-thumb-color-active: #e0e0e0 !default;
$grs-thumb-color-disabled: #c7c7c7 !default;
$grs-thumb-border-radius: 100% !default;

$grs-track-size: 4px !default;
$grs-track-color: #616161 !default;
$grs-track-color-disabled: #616161 !default;
$grs-track-border-radius: 100px !default;

$grs-progress-color: #2196F3 !default;
$grs-progress-color-disabled: #a3a3a3 !default;

$grs-transition-duration: .2s !default;
$grs-transition-timing: cubic-bezier(0.54, 0.28, 0.65, 0.85) !default;

$grs-tick-value-font-size: 12px !default;
$grs-tick-line-border-radius: 100px !default;
$grs-tick-line-width: $grs-track-size !default;
$grs-tick-line-height: $grs-thumb-size * 0.5 - 1px !default;
$grs-ticks-height-horizontal: 15px !default;
$grs-ticks-width-vertical: 25px !default;
$grs-tick-value-spacing-shown-horizontal: 3px !default;
$grs-tick-value-spacing-shown-vertical: 5px !default;
$grs-container-size: $grs-thumb-size !default;

// Offset for the track on left/right side (top/bottom if slider is vertical)
$grs-track-side-offset: ($grs-thumb-size * 0.5) !default;
// Offset for the thumb, taking into account the tick width so the thumb
//  placed correctly relative to the tick
$grs-thumb-offset-ticks-correction: ($grs-thumb-size + $grs-tick-line-width) * 0.5 !default;
// Offset for the track on top/bottom (right/left if slider is vertical)
$grs-track-side-vertical: $grs-container-size * 0.5 !default;
// Offset for the track on top/bottom (right/left if slider is vertical),
//  taking into account the track size
$grs-track-side-vertical-track-correction: ($grs-container-size - $grs-track-size ) * 0.5 !default;

$grs-thumb-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
0 2px 10px 0 rgba(0, 0, 0, .12) !default;

$grs-thumb-box-shadow-hover: 0 4px 9px 0 rgba(0, 0, 0, .18),
0 4px 15px 0 rgba(0, 0, 0, .14) !default;

$grs-thumb-box-shadow-active: 0 2px 5px 0 rgba(0, 0, 0, .22),
0 2px 10px 0 rgba(0, 0, 0, .18) !default;

.grsw,
.grsc,
.grstr,
.grspr,
.grsthc,
.grsth,
.grstc,
.grstt,
.grsttl,
.grsttv {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

// Wrapper
.grsw {
  padding: $grs-wrapper-padding;
  overflow: hidden;
  height: 100%;
  touch-action: none;
}

// Container
.grsc {
  position: relative;
}

// Track
.grstr {
  position: absolute;
  border-radius: $grs-track-border-radius;
  background-color: $grs-track-color;
  cursor: pointer;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: radial-gradient(white, black);
  transition: background-color $grs-transition-duration $grs-transition-timing;
}

// Progress
.grspr {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $grs-progress-color;
  background-size: 100% 100%;
  transform-origin: 0 0 0;
  transition: background-color $grs-transition-duration $grs-transition-timing;
}

// Thumb Container
.grsthc {
  position: absolute;
}

// Thumb
.grsth {
  position: absolute;
  width: $grs-thumb-size;
  height: $grs-thumb-size;
  border-radius: $grs-thumb-border-radius;
  background-color: $grs-thumb-color;
  box-shadow: $grs-thumb-box-shadow;
  cursor: pointer;
  transition:
    box-shadow $grs-transition-duration $grs-transition-timing,
    background-color $grs-transition-duration $grs-transition-timing;

  &:hover {
    box-shadow: $grs-thumb-box-shadow-hover;
  }

  &:active {
    box-shadow: $grs-thumb-box-shadow-active;
  }
}

// Ticks Container
.grstc {
  position: absolute;
}

// Tick Container
.grstt {
  position: absolute;
  display: flex;
  cursor: pointer;
}

// Tick Value
.grsttv {
  font-family: sans-serif;
  font-weight: 300;
  font-size: $grs-tick-value-font-size;
}

// Tick Line
.grsttl {
  background-color: $grs-track-color;
  margin: auto
}

// Horizontal style
.grshor {

  .grsc {
    width: 100%;
    height: $grs-container-size;
  }

  .grstr {
    left: $grs-thumb-size * 0.5;
    right: $grs-thumb-size * 0.5;
    height: $grs-track-size;
    bottom: $grs-track-side-vertical-track-correction;
  }

  .grsthc {
    left: $grs-thumb-offset-ticks-correction;
    right: $grs-thumb-offset-ticks-correction;
    height: 0;
    bottom: $grs-track-side-vertical + $grs-thumb-size * 0.5
  }

  .grsth {
    left: -$grs-thumb-size * 0.5;
    top: 0;
  }

  &.grs--has-ticks {

    // Ticks Position Normal
    &.grs--tpn {

      .grsc {
        margin-top: $grs-ticks-height-horizontal;
      }
    }

    // Ticks Position Switched
    &.grs--tps {

      .grsc {
        margin-bottom: $grs-ticks-height-horizontal;
      }
    }
  }

  .grstc {
    left: $grs-track-side-offset;
    right: $grs-track-side-offset;
  }

  .grstt {
    transform: translateX(-50%);
  }

  .grstt--first {
    margin-left: #{$grs-tick-line-width * 0.5};
  }

  .grstt--last {
    margin-left: -#{$grs-tick-line-width * 0.5};
  }

  .grsttl {
    height: $grs-tick-line-height;
    width: $grs-tick-line-width;
  }

  // Ticks Position Normal
  &.grs--tpn {

    .grstc {
      bottom: $grs-track-side-vertical;
    }

    .grstt {
      flex-direction: column;
      bottom: 0;
    }

    .grsttl {
      border-radius: $grs-tick-line-border-radius $grs-tick-line-border-radius 0 0;
    }
    .grsttv {
      padding-bottom: $grs-tick-value-spacing-shown-horizontal;
    }
  }

  // Ticks Position Switched
  &.grs--tps {

    .grstc {
      top: $grs-track-side-vertical;
    }

    .grstt {
      flex-direction: column-reverse;
      top: 0;
    }

    .grsttl {
      border-radius: 0 0 $grs-tick-line-border-radius $grs-tick-line-border-radius;
    }

    .grsttv {
      padding-top: $grs-tick-value-spacing-shown-horizontal;
    }
  }
}

// Vertical style
.grsver {

  .grsc {
    width: $grs-container-size;
    height: 100%;
  }

  .grstr {
    top: $grs-thumb-size * 0.5;
    bottom: $grs-thumb-size * 0.5;
    width: $grs-track-size;
    left: $grs-track-side-vertical-track-correction;
  }

  .grsthc {
    top: $grs-thumb-offset-ticks-correction;
    bottom: $grs-thumb-offset-ticks-correction;
    right: $grs-track-side-vertical + $grs-thumb-size * 0.5;
    width: 0;
  }

  .grsth {
    top: -$grs-track-side-offset;
    left: 0;
  }

  &.grs--has-ticks {

    // Ticks Position Normal
    &.grs--tpn {

      .grsc {
        margin-right: $grs-ticks-width-vertical;
      }
    }

    // Ticks Position Switched
    &.grs--tps {

      .grsc {
        margin-left: $grs-ticks-width-vertical;
      }
    }
  }

  .grstc {
    top: $grs-track-side-offset;
    bottom: $grs-track-side-offset;
  }

  .grstt {
    height: 1em;
    transform: translateY(-50%);
  }

  .grstt--first {
    margin-top: #{$grs-tick-line-width * 0.5};
  }

  .grstt--last {
    margin-top: -#{$grs-tick-line-width * 0.5};
  }

  .grsttl {
    width: $grs-tick-line-height;
    height: $grs-tick-line-width;
  }

  // Ticks Position Normal
  &.grs--tpn {

    .grstc {
      left: $grs-track-side-vertical;
    }

    .grstt {
      flex-direction: row-reverse;
      left: 0;
    }

    .grsttl {
      border-radius: 0 $grs-tick-line-border-radius $grs-tick-line-border-radius 0;
    }
    .grsttv {
      padding-left: $grs-tick-value-spacing-shown-vertical;
    }
  }

  // Ticks Position Switched
  &.grs--tps {

    .grstc {
      right: $grs-track-side-vertical;
    }

    .grstt {
      flex-direction: row;
      right: 0;
    }

    .grsttl {
      border-radius: $grs-tick-line-border-radius 0 0 $grs-tick-line-border-radius;
    }

    .grsttv {
      padding-right: $grs-tick-value-spacing-shown-vertical;
    }
  }
}

// Active style
.grsw.grs-a {

  .grsth {
    background-color: $grs-thumb-color-active;
    box-shadow: $grs-thumb-box-shadow-active;
  }
}

// Disabled style
.grsw.grs-dis {

  .grstr {
    cursor: default;
    background-color: $grs-track-color-disabled;
  }

  .grspr {
    background-color: $grs-progress-color-disabled;
  }

  .grsth {
    cursor: default;
    background-color: $grs-thumb-color-disabled;
    box-shadow: $grs-thumb-box-shadow;

    &:hover {
      box-shadow: $grs-thumb-box-shadow;
    }

    &:active {
      box-shadow: $grs-thumb-box-shadow;
    }
  }
}
